.hotel-card {
  border-radius: 16px;
  box-shadow: 0px 0px 16px #939393;
}

.hotel-picture {
  background: url(https://cdn.britannica.com/96/115096-050-5AFDAF5D/Bellagio-Hotel-Casino-Las-Vegas.jpg);
  background-size: cover;
  min-height: 340px;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}


.trip-edit-bg {
  --bs-bg-opacity: 1;
  background-color: #e7ecef;
  border: 1px solid #d8e0e5;
}
.btn-danger {
  color:white!important;
}

.add-stay {
  text-align: center;
  color: white;
  padding-top: 16%;
  background: #bfbfbf !important;
  border-radius: 50%;
  height: 300px;
  border: 1px solid #9b9b9b;
  width: 300px;
  i {
    font-size: 3em;
  }
}

.add-stay:hover {
  text-align: center;
  color: white;
  padding-top: 16%;
  background: #aaaaaa !important;
  border-radius: 50%;
  height: 300px;
  border: 1px solid #9b9b9b;
  width: 300px;
  i {
    font-size: 3em;
  }
}

.bd-callout-info {
  border-left-color: #0a96c0!important;
  background-color: white;
}

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}

/* GO BACK TO TRIP */
.go-back {
  background: #00afff;
  width: 70px;
  border-radius: 50%;
  right: 7%;
  bottom: 34px;
  position: fixed;
  height: 70px;
  color:white;
  z-index: 3;

  i {
    margin-top: 25%!important;
    text-align: center;
    font-size: 2em;
  }
}
.go-back:hover {
  background: #018ecf;
  width: 70px;
  border-radius: 50%;
  bottom: 43px;
  position: fixed;
  height: 70px;
  box-shadow: 1px 1px 7px #333;
}
