 <div class="container">
    <%= link_to trip_activities_path(@trip), title: "Add new activity to your trip", class: "add-activity" do %>
    <center><i class="fa-solid fa-plus"></i></center>
  <% end %>

  </div>
