<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h3 class="offcanvas-title" id="offcanvasExampleLabel"><b>My Trips</b></h3>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="my-trips-list">
     <% @trips.reverse.each do |trip| %>
        <p><%= link_to trip.name, trip_path(trip) %></p>
      <% end %>
    </div>

  </div>
</div>
