<div class="row home-banner">
  <div class="text-end">
    <h1>Roam Master, Your Ultimate Trip Planner</h1>
    <h2>Effortlessly organize, budget, and enjoy your dream vacation</h2>
    <p>Set your budget, organize activities, and find the perfect accommodations with ease. Say goodbye to stress and hello to a seamless travel experience</p>
    <%= link_to "Start Planning Now", new_trip_path, class: "btn btn-lg btn-primary", style: "font-weight:bold" %>
  </div>
</div>
r
