.search-bar {
  border: 1px solid black;
  border-radius: 20px;
  padding: 12px 20px;
  width: 300px;
  background-color: #f2f2f2;
  margin-right: 10px;
}


.stay-search-input {
  background: white;
  height: 61px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background:white;
  height: 61px;
}

.activity-search-input {
  background: white;
  height: 61px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background:white;
  height: 61px;
}
