<div class="container">
  <div class="row justify-content-center">
    <h1 class="text-center mt-5"><b>Set your city and pick activities for your trip!</b></h1>
    <div class="col-10 mt-5" data-controller="search-api">
      <%= form_with url: activities_path, method: :get, class: "d-flex", data: { action: "submit->search-api#getLocation" }  do |form| %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              style: "background:white",
              placeholder: "Type your activities of interest here",
              data: { search_api_target: "input" }
          %>
        <%= submit_tag "Find activities", name: "", class: "btn btn-primary" %>
      <% end %>
      <div class="activity-list row mb-5" data-search-api-target="activityList"></div>
    </div>
  </div>
</div>
